@tailwind base;
@tailwind components;
@tailwind utilities;


.h1{
    box-shadow: 0px 0px 12px #000000bb ;
}
body{
    background-color: black;
}
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}